<div id="disqus_thread"></div>
<script>
  this.shortname = 'Astral Monkey Studios';
  this.identifier = 'article-<%= @post.id %>';
  this.title = '<%= @post.title %>';
  this.url = '<%= url_for( @post ) %>';


  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://astral-monkey-studios.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
